@import url('https://fonts.googleapis.com/css?family=Gugi');

   



   @font-face { 
    font-family: "GT America";
    src: url("fonts/GT-America-Expanded-Regular.otf");
      
}


body {

    height: 100%;
    width:100%;
    background-color: #000;

}

div{
    font-family: "GT America", sans-serif;


}

.sidenav {
   

    height: 100%;
    width: 33%;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 40px;
    margin-top: 85px;
    margin-right:0;

}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
   font-family: "GT America", sans-serif;

  
}

.sidenav a:hover {

    color: #818181;
}

    
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


.main {
    width: 66.66%;
    padding: ;
    cursor: e-resize; 
}

#picture{
    float:left;
    width: 100%;
    height: auto;
}




ul {
    list-style-type: none;
    /* margin: 10px; */
    padding: 0px;
    overflow: hidden;
    z-index: 3;
    width: 100%;
     

}

li {
    float: left;
 
       z-index: 2; 



}

li a {
     

    margin: 0;
    font-size: 25px;
    color: #fff;
    display: block; 
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-family: "GT America", sans-serif;
    z-index: 2; 
    

}

li a:hover, .dropdown:hover .dropdown-content {
 
    color: ;
}

.dropdown {
    position: relative;
    display: inline-block;
    transition: 0.3s ease-in;

}
/*
.dropdown-content  {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    height: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    transition: 3s;

}

*/


------------------------------------------

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover, .dropdown:hover .dropbtn {
    background-color: ;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    border-bottom: solid 4px;
    border-left: solid 4px;
    border-right: solid 4px;
    pointer-events: none;
    margin-top: 61px;
    margin-left: -13.5px;
    /* display: none; */
    position: absolute;
    background-color: #fff;
    width: 101.8%;
   
    z-index: 10;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
 
    opacity: 0;
    top: -20px;

}



.dropDownOpen {
    opacity: 1;
    top: 15px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: justify;
    font-family: "GT America", sans-serif;
}

------------------------------------------








------------------------------------------

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}